# Node.js,React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package.json
package-lock.json


# IDE
.vscode/
.idea/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
.env
*.log

# Static and Media
.DS_Store
Thumbs.db